{% extends '::/base.html.twig' %}

{% block body %}

    <h1>Lista de Estudiantes</h1>
<lu>
    {% for estudiantes in estudiantes  %}
    <li>{{ estudiantes.nombre}}</li>
    {% endfor %}
</lu>
{% endblock %}
